<div class="cardPrincipal">
  <div class="headerLogin">
    <img src="/assets/logo.PNG" alt="Logo Eventfy" class="logoHeader">
    <p class="headerText">Eventfy</p> 
  </div>

  <form id="loginForm">
    <div class="inputLogin larguraTotal">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email">
    </div>

    <div class="inputLogin larguraTotal">
      <label for="senha">Senha:</label>
      <div class="containerSenha">
        <input type="password" id="senha" name="senha">
        <img src="/assets/olho-mostrar.svg" class="alternarSenha" alt="Mostrar/Ocultar Senha">
      </div>
    </div>

    <div class="botoesContainer espacamentoLogin">
      <button type="submit" class="botao botaoConfirmar botaoLogin">Entrar</button>
    </div>
  </form>

  <div class="containerLink">
    <p>Não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
  </div>
</div>

<script src="/js/login.js"></script>
